{
    "plugins": [
        [
            "babel-plugin-transform-es2015-modules-commonjs-simple",
            {
                "noMangal": true,
                "addExports": true
            }
        ]
    ]
}
